snippet begin
\begin{$1}
	$0
\end{$1}
endsnippet

snippet pkg
\usepackage[${2}]{${1}}${0}
endsnippet


snippet s
\section{${1}}${0}
endsnippet


snippet ss
\subsection{${1}}${0}
endsnippet


snippet sss
\subsubsection{${1}}${0}
endsnippet


snippet s*
\section*{${1}}${0}
endsnippet


snippet ss*
\subsection*{${1}}${0}
endsnippet


snippet sss*
\subsubsection*{${1}}${0}
endsnippet


snippet eq
\begin{equation*}
	${0}
\end{equation*}
endsnippet

