[submodule "tmux/tmux/plugins/tpm"]
	path = tmux/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "qmk/qmk_firmware"]
	path = qmk/qmk_firmware
	url = https://github.com/qmk/qmk_firmware.git
